/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*=================== Main content ==========================*/

@import 'https://fonts.googleapis.com/css?family=Roboto';
* {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


/*
#def0fb,
#56c3e7,
#227fc3,
#145273,
#0a1c27,
#2d1726,
#471427,
#a62d2e,
#f3c736,
#f5f2b4,
*/

.full-screen-content {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.first-landing {
    position: relative;
}

.form-strings {
    position: relative;
}

.cbg {
    width: 100%;
}

.ctext {
    width: 63%;
    top: -9vw;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.c0 {
    position: absolute;
    left: 22%;
    width: 141%;
    /*top:-22px;
    left: 8%;*/
}

.c1 {
    position: absolute;
    left: 30%;
    width: 141%;
}

.c2 {
    width: 141%;
    left: 29%;
    position: relative;
}

.cascade-home {
    font-size: 1.4rem;
    position: absolute;
    z-index: 100;
    top: 62%;
    width: 100%;
    text-align: center;
    color: #dce0df;
    text-shadow: 0px 1px 12px rgb(31, 31, 31);
    font-weight: 400;
}

.button-to-form {
    background-color: black;
    color: white;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 61%;
    padding: 11px 57px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid white;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
}

.button-to-form:hover {
    background-color: white;
    color: black;
}

.f-div-1 {
    position: absolute;
    top: 107px;
    left: 9%;
    width: 29%;
}

.f-div-2 {
    position: absolute;
    top: 102vw;
    right: 4%;
    width: 29%;
}

.f-div-3 {
    position: absolute;
    top: 145vw;
    left: 9%;
    width: 29%;
}

form label {
    color: #dce0df;
}

form [type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 1px;
    color: white;
}

textarea {
    resize: none;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=datetime]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
textarea:focus {
    background-color: transparent;
    box-shadow: 0px 0px 0px white;
    border-color: white;
    color: white;
}

legend {
    color: #dce0df
}

fieldset {
    margin-bottom: 20px;
}

.form-header {
    font-size: 1.3em;
    margin: .67em 0;
    color: white;
    margin-top: 0;
    margin-bottom: 33px;
}

.submit-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0px;
    margin-top: 72px;
    margin-bottom: 10px;
    padding: 7px 34px;
    max-width: 100%;
}

.error-in-form {
    color: #a90401;
    margin-top: 42px;
    margin-bottom: -45px;
    border: 1px solid red;
    padding: 1px 9px;
    text-align: center;
}

input[disabled] {
    cursor: default!important;
    color: #656565;
    background-color: transparent;
    border-color: #212121;
}

.submitted-successfully {
    border: 1px solid white;
    border-radius: 0px;
    margin-top: 72px;
    margin-bottom: 10px;
    border-color: green!important;
    color: green!important;
    padding: 7px 34px;
    max-width: 100vw;
    display: none;
}

.cr-1 {
    width: 14.2%;
    background-color: #b6e3f0;
    position: absolute;
    height: 100vh;
    display: inline-block;
    display: none;
    top: -1px;
    left: 85.8%;
}

.cr-2 {
    width: 10.3%;
    background-color: #56c3e7;
    position: absolute;
    height: 100vh;
    display: inline-block;
    display: none;
    left: 75.5%;
    top: -1px;
}

.cr-3 {
    width: 12.3%;
    background-color: #227fc3;
    position: absolute;
    height: 100vh;
    display: inline-block;
    display: none;
    left: 63.2%;
    top: -1px;
}

.cr-4 {
    width: 14%;
    background-color: #0a1c27;
    position: absolute;
    height: 100vh;
    display: inline-block;
    display: none;
    left: 49.2%;
    top: -1px;
}

.cr-5 {
    width: 10.6%;
    background-color: #471427;
    position: absolute;
    height: 100vh;
    display: inline-block;
    display: none;
    left: 38.6%;
    top: -1px;
}

.cr-6 {
    width: 14.1%;
    background-color: #a62d2e;
    position: absolute;
    height: 100vh;
    display: inline-block;
    display: none;
    left: 24.5%;
    top: -1px;
}

.cr-7 {
    width: 12.2%;
    background-color: #f3c736;
    position: absolute;
    height: 100vh;
    display: inline-block;
    display: none;
    left: 12.3%;
    top: -1px;
}

.cr-8 {
    width: 12.3%;
    background-color: #f5f2b4;
    position: absolute;
    height: 100vh;
    display: inline-block;
    display: none;
    top: -1px;
}

textarea:disabled,
input:disabled {
    background-color: transparent;
    cursor: default;
    color: grey;
    border-color: #034e03;
}

@media screen and (max-width: 670px) {
    .f-div-1 {
        position: absolute;
        top: 107px;
        left: 9%;
        width: 65%;
        background-color: rgba(0, 0, 0, 0.48);
    }
    .f-div-2 {
        position: absolute;
        top: 978px;
        left: 9%;
        width: 65%;
        background-color: rgba(0, 0, 0, 0.48);
    }
    .f-div-3 {
        position: absolute;
        top: 1346px;
        left: 9%;
        width: 65%;
        background-color: rgba(0, 0, 0, 0.48);
    }
}
